header.header
    .header__colum
        i.fab.fa-youtube
    .header__colum
        ul
            li
                a(href=routes.join) join
            li
                a(href=routes.login) log in