extends layouts/main

block content
    .form_container
        form(action=`/users${routes.change_password}`, method="post")
            input(type="text", name="oldPassword", placeholder="Current Password")
            input(type="text", name="newPassword", placeholder="New password")
            input(type="text", name="newPassword1", placeholder="verify password")
            input(type="submit", value="Update password")
        //a.from-container__link(href=`/users${routes.change_password}`) change_password
